.btn-read {
	margin-top: 50px;
	margin-left: 14px;
    background: transparent;
    border-radius: 0;
    color: #fff;
    font-size: 26px;    
}


.section-box-seven{
    height: 200px;
    width: 180px;
    background: radial-gradient(#6e6e6e,#2f2f2f);
    background: -webkit-radial-gradient(#6e6e6e,#2f2f2f);
    background: -moz-radial-gradient(#6e6e6e,#2f2f2f);
    color: #fff;
    position: relative;
    overflow:hidden;
    margin: 20px;
}
.section-box-seven figure {
    position: absolute;
    text-align: center;
    padding: 19px;
    width: 100%;
    height: 100%;
}
.section-box-seven img{
    height: 100%;
    position: absolute;
    transition: ease-in-out .5s;
    -webkit-transition: ease-in-out .5s;
    -moz-transition: ease-in-out .5s;
}
.section-box-seven:hover img{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    opacity: 0;
}

