
body, html{
    margin: 0;
    padding: 0;
}

h1{
	padding: 10px;
    margin-top: 0;
}
textarea {
   resize: none;
}
.border{
    border: 1px solid #e7e7e7;
}
.apply{
    width: 180px;
    margin-bottom: 10px;
}
.avatar {

    width: 200px;
    float: left;
}
.row .comment{
    margin-bottom: 10px;
}
.table{
    !important; float: none
}
.container{
    min-height: 600px;
}
.page-header{
    background: rgba(40,70,110,1);
    margin: 0px 0 20px;
    border-bottom: 2px solid #666666;
}

.media{
	border: 1px solid black;
}

.glyphicon-refresh{
	left:10px;
	top:5px;
    font-size: 20px;
	color: black;
}

.register-from{
    width: 500px;
}

.login-form{
    margin-top: 100px;
}

#register-form-link{
    text-align: center;
    width: 100%;
    display: block;
}

.nav .action:hover{
    background: #e7e7e7;
    height: 50px;
}
.nav .action:visited{
    background: black;
}
.alert {
    padding: 5px;
    margin-bottom: 10px;
}
img{
    border-radius: 5px 5px;
}
.thumbnail {margin-bottom:6px;}

.carousel-control.left,.carousel-control.right{
  background-image:none;
  margin-top:10%;
  width:5%;
}
.thumbnail{
    height: 150px;
    width: 150px;
}
